# Flutter
.dart_tool/
.packages
build/
.flutter-plugins
.flutter-plugins-dependencies

# Android
android/.gradle/
android/app/build/
android/local.properties
*.apk
*.aab

# IDE
.idea/
*.iml
.vscode/

# OS
.DS_Store
Thumbs.db

# Misc
*.log
.env
